# Final Exercice: The Rumos Bank 

The Rumos Bank √© um banco que tem perdido bastante dinheiro devido √† quantidade de cr√©ditos que fornece e que n√£o s√£o pagos dentro do prazo devido. 

    - Por cada cliente que se estima que n√£o ir√°  pagar dentro do prazo e afinal paga, o banco tem um custo de 1000euros. 

    - Por cada cliente que se prev√™ como sendo um bom pagador e afinal n√£o paga dentro do prazo, o banco tem um custo de 3000euros.


Voc√™s, data scientists de topo,  s√£o contratados para ajudar o banco a prever quais os clientes que n√£o ir√£o cumprir os prazos, para que este consiga uma melhor gest√£o dos fundos.

Conseguem construir um modelo que ajude a detectar previamente e com sucesso os clientes que s√£o maus pagadores?

Dataset: https://www.kaggle.com/uciml/default-of-credit-card-clients-dataset

Vari√°veis dispon√≠veis:

    ID: ID of each client
    LIMIT_BAL: Amount of given credit in NT dollars (includes individual and family/supplementary credit
    SEX: Gender (1=male, 2=female)
    EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
    MARRIAGE: Marital status (1=married, 2=single, 3=others)
    AGE: Age in years
    PAY_0: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
    PAY_2: Repayment status in August, 2005 (scale same as above)
    PAY_3: Repayment status in July, 2005 (scale same as above)
    PAY_4: Repayment status in June, 2005 (scale same as above)
    PAY_5: Repayment status in May, 2005 (scale same as above)
    PAY_6: Repayment status in April, 2005 (scale same as above)
    BILL_AMT1: Amount of bill statement in September, 2005 (NT dollar)
    BILL_AMT2: Amount of bill statement in August, 2005 (NT dollar)
    BILL_AMT3: Amount of bill statement in July, 2005 (NT dollar)
    BILL_AMT4: Amount of bill statement in June, 2005 (NT dollar)
    BILL_AMT5: Amount of bill statement in May, 2005 (NT dollar)
    BILL_AMT6: Amount of bill statement in April, 2005 (NT dollar)
    PAY_AMT1: Amount of previous payment in September, 2005 (NT dollar)
    PAY_AMT2: Amount of previous payment in August, 2005 (NT dollar)
    PAY_AMT3: Amount of previous payment in July, 2005 (NT dollar)
    PAY_AMT4: Amount of previous payment in June, 2005 (NT dollar)
    PAY_AMT5: Amount of previous payment in May, 2005 (NT dollar)
    PAY_AMT6: Amount of previous payment in April, 2005 (NT dollar)
    default.payment.next.month: Default payment (1=yes, 0=no)

#### Perguntas:

    1. Quantas features est√£o dispon√≠veis? Quantos clientes?
    2. Quantos clientes t√™m no dataset que efectivamente foram maus pagadores? E quantos n√£o foram?
    3. Qual o modelo que levou a melhores resultados? Qual a m√©trica usada para comparar os diferentes modelos?
    4. Quais s√£o as features mais relevantes para decidir se um cliente tem mais propens√£o para ser mau pagador?
    5. Qual seria o custo que o banco tem sem nenhum modelo?
    6. Qual o custo que o banco passa a tar com o vosso modelo?

Com base na informa√ß√£o dada, podemos definir que:

    True positive - Os maus pagadores s√£o identificados correctamente.
    True negative - Os bons pagadores s√£o identificados correctamente.
    False positive - Um bom pagador √© identificado como sendo um mau pagador.
    False negative - Um mau pagador √© identificado como sendo um bom pagador.

In [1]:
root_path = '../data/'
models_path = '../../mlruns/'
target_col = "default.payment.next.month"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import  precision_recall_curve, roc_auc_score, confusion_matrix, accuracy_score, recall_score, precision_score, f1_score,auc, roc_curve
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.linear_model import Perceptron
from sklearn.neural_network import MLPClassifier
import mlflow

seed = 42

## Definir a diretoria onde as experi√™ncias s√£o guardadas

In [3]:
from pathlib import Path

uri = "http://localhost:5000"

mlflow.set_tracking_uri(uri)

## Fazer set da experi√™ncia "Rumos Bank"

In [4]:
mlflow.set_experiment("Rumos Bank Experiment")

<Experiment: artifact_location='mlflow-artifacts:/966814052020618289', creation_time=1742213280837, experiment_id='966814052020618289', last_update_time=1742213280837, lifecycle_stage='active', name='Rumos Bank Experiment', tags={}>

In [5]:
df = pd.read_csv(root_path + 'lending_data.csv')

In [6]:
df.shape

(30000, 25)

In [7]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [8]:
df.ID.nunique()

30000

#### 1. Quantas features est√£o dispon√≠veis? Quantos clientes?

    - Existem 24 features dispon√≠veis no dataset.
    - Existem 30000 clientes.

Existem missing values?

In [9]:
df.isnull().values.any()

np.False_

Existem o mesmo n√∫mero de clientes nas duas classes?

In [10]:
df.groupby('default.payment.next.month')['default.payment.next.month'].count()

default.payment.next.month
0    23364
1     6636
Name: default.payment.next.month, dtype: int64

N√£o! O dataset √© altamente desequilibrado.

#### 2. Quantos clientes t√™m no dataset que efectivamente foram maus pagadores? E quantos n√£o foram?

    - 23,364 foram bons pagadores. 6,636 foram maus pagadores.

Existem features n√£o n√∫mericas?

In [11]:
df.dtypes

ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

Todas as features s√£o n√∫mericas.

Vamos retirar o ID do cliente:

In [12]:
df = df.drop('ID', axis = 1)

## Criar uma run

In [ ]:
#run = mlflow.start_run(run_name="Linear Regression Run - C0.1 - pipeline")
run = mlflow.start_run(run_name="Run sevral models - C0.1 - pipeline")
RUN_ID = run.info.run_uuid
RUN_ID

'bcd43250559f41c1aa7575c20408184b'

Vamos ent√£o dividir o dataset em treino e teste:

In [14]:
train_set, test_set = train_test_split(df, test_size = 0.2, random_state = seed)

In [15]:
X_train = train_set.drop(['default.payment.next.month'], axis = 'columns')
y_train = train_set['default.payment.next.month']

X_test = test_set.drop(['default.payment.next.month'], axis = 1)
y_test = test_set['default.payment.next.month']

## Guardar datasets, modelos, artefactos, m√©tricas e parametros da run

In [16]:
# guardarmos o dataset de treino e de teste associado √† run
train_dataset = mlflow.data.from_pandas(train_set, targets='default.payment.next.month', name="Rumos Bank Train Dataset")
test_dataset = mlflow.data.from_pandas(test_set, targets='default.payment.next.month', name="Rumos Bank Test Dataset")
mlflow.log_input(train_dataset, context="train")
mlflow.log_input(test_dataset, context="test")

# Guardamos a seed utilizado como parametro
mlflow.log_param("seed", seed)

c:\Users\miguel\miniconda3\envs\OML-project\Lib\site-packages\mlflow\types\utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(

42

## Terminar a run

In [17]:
mlflow.end_run()

üèÉ View run Linear Regression Run - C0.1 - pipeline at: http://localhost:5000/#/experiments/966814052020618289/runs/bcd43250559f41c1aa7575c20408184b
üß™ View experiment at: http://localhost:5000/#/experiments/966814052020618289

Normaliza√ß√£o:

In [ ]:
scaler = MinMaxScaler()

features_names = X_train.columns

X_train = scaler.fit_transform(X_train)
X_train = pd.DataFrame(X_train, columns = features_names)

X_test = scaler.transform(X_test)
X_test = pd.DataFrame(X_test, columns = features_names)

Antes de iniciar, vamos calcular a baseline, ou seja, o custo que temos sem nenhum modelo.

$$totalCost = 1000‚àóFP+3000‚àóFN$$

In [ ]:
y_preds_all_bad = np.ones(y_test.shape)

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_test, y_preds_all_bad).ravel()

print('Number of True Negatives:', tn)
print('Number of True Positives:', tp)
print('Number of False Negatives:', fn)
print('Number of False Positives:', fp)

In [ ]:
print('Total Cost:', fp*1000)

In [ ]:
accuracy_score(y_test, y_preds_all_bad)

Se todos os clientes fossem considerados como maus pagadores, o banco teria um custo de 4,687,000 Euros.

In [ ]:
y_preds_all_good = np.zeros(y_test.shape) 

tn, fp, fn, tp = confusion_matrix(y_test, y_preds_all_good).ravel()

print('Number of True Negatives:', tn)
print('Number of True Positives:', tp)
print('Number of False Negatives:', fn)
print('Number of False Positives:', fp)

In [ ]:
print('Total Cost:', fn*3000)

In [ ]:
accuracy_score(y_test, y_preds_all_good)

Se todos os clientes fossem considerados bons pagadores, o banco teria um custo de 3,939,000 Euros.

In [ ]:
def total_cost(y_test, y_preds, threshold = 0.5):
    
    tn, fp, fn, tp = confusion_matrix(y_test == 1, y_preds > threshold).ravel()
    
    cost_fn = fn*3000
    cost_fp = fp*1000
    
    return cost_fn + cost_fp

In [ ]:
def min_cost_threshold(y_test, y_preds):
    
    costs = {}
    
    for threshold in np.arange(0, 1.1, 0.1):
        
        costs[round(threshold, 1)] = total_cost(y_test, y_preds, threshold = threshold)
        
    plt.plot(list(costs.keys()), list(costs.values()))
    plt.ylabel('Cost')
    plt.xlabel('Threshold')
    plt.show()

#### Logistic Regression

In [ ]:
%%time
lr = LogisticRegression(max_iter = 500, solver = 'lbfgs', random_state = seed, class_weight = 'balanced' )

parameters = {'C':[0.001, 0.01, 0.1, 1, 10, 100]}

clf_lr = GridSearchCV(lr, parameters, cv = 5).fit(X_train, y_train)

In [ ]:
# Guardamos a seed utilizado como parametro
mlflow.log_param("Parameters", parameters)
mlflow.log_param("GridSearchCV", clf_lr)

mlflow.sklearn.log_model(lr, artifact_path="lr_pipeline", registered_model_name="logistic_reg")

In [ ]:
clf_lr.score(X_test, y_test)

In [ ]:
y_preds = clf_lr.predict_proba(X_test)[:,1]

In [ ]:
total_cost(y_test, y_preds, threshold = 0.5)

In [ ]:
min_cost_threshold(y_test, y_preds)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.6)

O Custo √© minimo para um threshold de 0.6: 2,646,000 Euros, que √© a melhor que a baseline!

#### KNN

In [ ]:
%%time
knn = KNeighborsClassifier()

parameters = {'n_neighbors': range(1,10, 1)}

clf_knn = GridSearchCV(knn, parameters, cv = 5).fit(X_train, y_train)

KNN n√£o √© um metodo adequado para grandes datasets! Vamos ver se compensa a n√≠vel de resultados:

In [ ]:
y_preds = clf_knn.predict_proba(X_test)[:,1]

clf_knn.score(X_test, y_test)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.5)

In [ ]:
min_cost_threshold(y_test, y_preds)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.3)

Melhor que a baseline mas pior que usar regress√£o logistica.

#### SVM

In [ ]:
%%time

svc = SVC(random_state = seed, class_weight = 'balanced', gamma = 'scale', probability = True, verbose = True)

parameters = {'C':[0.1, 1, 10], 'kernel': ('rbf', 'linear') }

clf_svc = GridSearchCV(svc, parameters, cv = 5).fit(X_train, y_train)

In [ ]:
y_preds = clf_svc.predict_proba(X_test)[:,1]

In [ ]:
clf_svc.score(X_test, y_test)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.5)

In [ ]:
min_cost_threshold(y_test, y_preds)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.3)

Melhor valor at√© agora!

#### Decision Trees

In [ ]:
%%time

trees = tree.DecisionTreeClassifier(random_state = seed,  class_weight = 'balanced')

parameters = {'max_depth':[3, 6], 'min_samples_split': [2, 4, 10]}

clf_tree = GridSearchCV(trees, parameters, cv = 5).fit(X_train, y_train)

In [ ]:
clf_tree.best_estimator_

In [ ]:
y_preds = clf_tree.predict_proba(X_test)[:,1]

clf_tree.score(X_test, y_test)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.5)

In [ ]:
min_cost_threshold(y_test, y_preds)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.5)

SVMs continuam a ganhar.

#### Random Forests

In [ ]:
%%time 
rf = RandomForestClassifier(random_state = seed,  class_weight = 'balanced').fit(X_train, y_train)

parameters = {'n_estimators':[10, 100, 300, 1000]}

clf_rf = GridSearchCV(rf, parameters, cv = 5).fit(X_train, y_train)

In [ ]:
y_preds = clf_rf.predict_proba(X_test)[:,1]

clf_rf.score(X_test, y_test)

In [ ]:
min_cost_threshold(y_test, y_preds)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.3)

Melhor resultado at√© agora!

#### Neural Networks

In [ ]:
X_train.shape

In [ ]:
%%time

mlp = MLPClassifier(solver = 'lbfgs',  random_state = seed, max_iter = 1000 )

parameters = {'hidden_layer_sizes': [(20,), (20,10), (20, 10, 2)], 'learning_rate_init':[0.0001, 0.001, 0.01, 0.1]}

clf_mlp = GridSearchCV(mlp, parameters, cv = 5).fit(X_train, y_train)

In [ ]:
clf_mlp.best_estimator_

In [ ]:
clf_mlp.best_score_

In [ ]:
y_preds = clf_mlp.predict_proba(X_test)[:,1]

clf_mlp.score(X_test, y_test)

In [ ]:
min_cost_threshold(y_test, y_preds)

In [ ]:
total_cost(y_test, y_preds, threshold = 0.2)

Resultado quase igual √†s random forests!

#### 3. Qual o modelo que levou a melhores resultados? Qual a m√©trica usada para comparar os diferentes modelos?

- A m√©trica usada foi o custo total uma vez que o objetivo do modelo era diminuir os custos do banco. O Modelo que levou a melhores resultados foram as neural networks e as random forests - 2,467,000 de custo.  
- Visto que com as neural networks n√£o consigo saber qual a importancia das features, vou eleger o modelo de random forests como a solu√ß√£o final. Para al√©m disso o treino das neural networks demorou quase o dobro do tempo.

#### 4. Quais s√£o as features mais relevantes para decidir se um cliente tem mais propens√£o para ser mau pagador?

In [ ]:
rf = RandomForestClassifier(**clf_rf.best_params_).fit(X_train, y_train)

In [ ]:
important_features = pd.DataFrame(data = rf.feature_importances_, index = X_train.columns, columns = ['value'])
important_features.sort_values(by = 'value', ascending = False)

As variaveis que mais contribuem para o modelo decidir se um cliente vai ser um bom ou mau pagador s√£o:
    - PAY_0 - Repayment status in September, 2005 
    - e AGE - idade do cliente

#### 5. Qual seria o custo que o banco tem sem nenhum modelo?

    - O custo que o banco teria sem modelo, ou seja, assumindo que todos os clientes seriam bons pagadores, √© de: 3,939,000 Euros.

#### 6. Qual o custo que o banco passa a tar com o vosso modelo?

- O custo que o banco teria com o modelo seria de: 2,476,000 Euros - Pouparia quase 1 Milh√£o e meio de Euros!